$blue: blue;
$green: green;
$yellow: yellow;
$lightblue: lightblue;
$lightgreen: lightgreen;
$lightyellow: lightyellow;
$red: red;

h1 {
    color:$red;
    background-color: $lightyellow;
}

h2 {
    color: $blue;
    background-color: $lightgreen;
}

p {
    color: $green;
    font-size: 2rem;
}